// Normalize default browser styles
@import 'normalize_scss/normalize';
@include normalize();
//just a sample header, needs to be deleted after migration to WP
header.main {
    height: 100px;
    width: 100%;
    background-color: grey;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 2em;
    font-style: bold;
    line-height: 100px;
}

.top_video-section {
    .top_video_overlay {
        height: calc(100vh - 100px);
        position: relative;
        width: 100%;
        overflow: hidden;
        .top_video_header{
            display: table;
            height: 100%;
            width: 100%;
            text-align: center;
            .inner{
                display: table-cell;
                vertical-align: middle;
            }
            img{
                width: 60%;
            }
        }
        video {
            backface-visibility: hidden;
            top: 0;
            height: auto;
            min-height: 100%;
            min-width: 100%;
            perspective: 1000;
            position: fixed;
            right: 0;
            width: auto;
            z-index: -1;
        }
    }
}

.water_bike_features {
    background-color: white;
    .water_bike_features_wrapper {
        padding-top: 100px;
        #water_bike {
            width: 100%;
        }
        .list_of_features {
            padding: 0 20px;
            margin-top: 25px;
            display: flex;
            justify-content: space-around;
            .single_feature {
                padding: 0 10px;
                flex-basis: 375px;
                text-align: center;
                p {
                    margin: 21px 0 10px 0;
                    font-weight: 700;
                    font-family: 'Oswald';
                    text-transform: uppercase;
                    color: #222222;
                    letter-spacing: -2px;
                    font-style: italic;
                    font-size: 35px;
                }
                span {
                    font-size: 15px;
                    line-height: 1.5em;
                    font-family: 'Poppins';
                    color: #bbbbbb;
                }
            }
        }
    }
}

.next {
    font-size: 1.5em;
    background-color: #fff;
}

@media screen and (max-width: 1024px){
    .top_video-section{
        .top_video_overlay{
            background-color: #000;
        }
        video{
            display: none;
        }
    }
}

@media screen and (max-width: 992px){
    .water_bike_features {
        .water_bike_features_wrapper {
            .list_of_features {
                display: block;
                .single_feature {
                    padding-top: 60px;
                }
                .single_feature:first-child {
                    padding: 7px;
                }
            }
        }
    }
}